.cards {
  width: 40rem;
  max-height: 50rem;
  margin: 3rem 1rem;
  transition: 1s ease;
  position: relative;
  -webkit-box-shadow: 2px 5px 16px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px #0b325e, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  &-title {
    position: absolute;
    width: 90%;
    max-height: 5rem;
    font-size: 3.5rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #ada996;
    background: -webkit-linear-gradient(
      to right,
      #eaeaea,
      #dbdbdb,
      #f2f2f2,
      #ada996
    );
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  }
  &-img {
    width: 100%;
    height: auto;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    font-size: 2.5rem;
    background: #ada996;
    background: -webkit-linear-gradient(
      to right,
      #eaeaea,
      #dbdbdb,
      #f2f2f2,
      #ada996
    );
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  }
  &-description {
    padding: 1rem 1.5rem 3rem 1.5rem;
  }
  &-btn {
    text-transform: uppercase;
    position: absolute;
    border: none;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    background-color: #f9ca24;
    clip-path: polygon(
      0% 20%,
      60% 20%,
      60% 0%,
      100% 50%,
      60% 100%,
      60% 80%,
      0% 80%
    );
    // -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    //   5px 5px 15px 5px rgba(0, 0, 0, 0);
    // box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    //   5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: 0.2s ease-out;
    &:hover {
      transform: translate(-48%, -50%);
    }
  }
}

.cards:hover {
  transform: scale(1.01);
}
