<div class="cards">
  <div class="cards-title">
    <h2>Vroum Vroum</h2>
  </div>
  <img src="assets/images/img1.jpg" alt="" class="cards-img" />
  <div class="cards-info">
    <p>Prix</p>
    <p>Année</p>
  </div>
  <div class="cards-description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
      dignissimos distinctio hic ullam, fuga molestias temporibus quam minus
      voluptates totam ab, cupiditate iure aperiam repudiandae.
    </p>
  </div>
  <button class="cards-btn">Voir l'annonce</button>
</div>
