.carousel {
  width: 100%;
  position: relative;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  .group-btn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  .btn {
    border: none;
    color: white;
    font-size: 3rem;
    &:hover {
      color: #f9ca24;
    }
  }
  .prev:hover {
    transform: translateX(-10px);
    transition: ease-in-out 0.4s;
  }
  .next:hover {
    transform: translateX(10px);
    transition: ease-in-out 0.4s;
  }
}
