.navbar {
  min-height: 100px;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    a {
      text-decoration: none;
    }
    // &-img {
    //   position: absolute;
    //   top: 50%;
    // }
    &-title {
      h1 {
        text-decoration: none;
        text-align: center;
        color: #f9ca24;
      }
    }
  }
}
