.content {
  width: 100%;
  &-title {
    text-align: center;
    text-transform: uppercase;
    margin: 3rem 0;
  }
  &-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
  }
}

.btn-biens {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #f9ca24;
  transform: all 1s ease;
}
.btn-biens:hover {
  transform: scale(1.1);
}
