<section>
  <div class="container">
    <div class="content">
      <div class="content-title">
        <h2>Notre sélection de véhicules d'occasion</h2>
      </div>
      <div class="content-description">
        <app-v-card></app-v-card>
        <app-v-card></app-v-card>
        <app-v-card></app-v-card>
        <app-v-card></app-v-card>
        <app-v-card></app-v-card>
        <app-v-card></app-v-card>
        <app-v-card></app-v-card>
        <app-v-card></app-v-card>
        <app-v-card></app-v-card>
      </div>
      <div class="content-btn">
        <button class="btn-biens">VOIR PLUS D'ANNONCE</button>
      </div>
    </div>
  </div>
</section>
