.box {
  width: 100%;
  min-height: 50vh;
  background: #ada996;
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  display: flex;
  justify-content: center;
  align-items: center;
  &-content{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    git
    @keyframes animate {
      0%{
        transform:perspective(1000px) rotateY(0deg);
      }
      100%{
        transform:perspective(1000px) rotateY(360deg);
      }
    }
    span{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center;
      transform-style: preserve-3d;
      transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

